:root{--f:sans-serif;--n:#030303;--b:#f8f8f8}
*{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{margin:0 auto;padding:4.24em 1.62em 3.33rem;max-width:37em;font:20px/1.62 var(--f);background-color:var(--b)}
body,a{color:var(--n)}
#sl,::selection,a:focus{background-color:var(--n);color:var(--b)}
#sl,#un,.a,aside,code:not(.i),figcaption,footer,summary{font-size:.79em}
#sl{position:absolute;top:-40px;left:0}
#sl:focus{top:0}
figcaption,footer,header{text-align:center}
#mm,header,aside{margin:0 0 3.33rem}
svg{stroke:var(--n);fill:none}
h1{margin:3.33rem 0 0;font:1.62em/1.27 var(--f)}
code:not(.i){padding:0 1.62em}
img,aside svg{width:100%}
main > *,.q,div{margin:0 0 1.27em}
h2{margin:1.62em 0 1em;font:1.27em/1.27 var(--f)}
a{text-decoration-style:dotted}
a:hover{text-decoration-style:solid}
.ins::after{content:' \002020'}
dfn,dt{font-weight:bold}
cite,dfn{font-style:normal}
dd{padding-left:1.27em}
abbr{text-decoration:none}
ol,ul{list-style-position:inside}
blockquote{padding:.79em 1.27em}
.x,.z{column-gap:1.27em}
.p{image-rendering:pixelated;image-rendering:-moz-crisp-edges;image-rendering:crisp-edges}
figcaption{padding:.79em 0 0}
code:not(.i){display:block;overflow-x:auto;white-space:nowrap;text-overflow:ellipsis}
summary{border:1px solid;padding:.79em}
#sl,.i,.k{padding:0 5px}
.i,.k{border:1px solid}
aside{display:grid;grid-gap:1.62em;padding:1.62rem 0 0;border-top:1px solid}
.x,aside ul{list-style:none}
aside svg{grid-column:1/3;height:3em;stroke-width:1.27px}
#w{margin:1.27em 0 0;height:2.06rem;stroke-width:.62rem}
@media screen and (min-width:32em){
aside{grid-template-columns:6fr 2fr 2fr}
aside svg{grid-column-end:2}
.x,.z{column-count:2}}
media print{@page{margin:0}*{display:none}}
